.app_login {
    background-color: rgb(32, 30, 30);
}

.app_login-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.app_login-Container_Box {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    width: 30vw;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.4rem; 
}

.app_login-Container_Box h2 {
    margin: 3rem 0 2rem 0;
}

.app_login-Container_Box input {
    margin-top: 2.1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 2rem;
    width: 80%;
    height: 3rem;
    padding: 1rem;
    border: none;
    outline: gray;
    font-size: 1rem;
    font-weight: bold;
}

.app_login-Container_Box input:focus {
    display: inline-block;
    box-shadow: 0 0 0 0.2rem #b9abe0;
    backdrop-filter: blur(12rem);
    border-radius: 2rem;
}

.app_login-Container_Box input::placeholder {
    color: #b9abe099;
    font-weight: 100;
    font-size: 1rem;
}

.app_login-button {
    margin: 3rem auto auto;
    display: flex;
    align-items: center;
}

.app_login-button button {
    background: linear-gradient(to right, #14163c 0%, #03217b 79%);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    width: 100%;
    padding: 15px;
    height: 3rem;
    border: none;
    color: white;
    border-radius: 2rem;
    cursor: pointer;
}

.app_login-button button:hover {
    background: linear-gradient(to right, #070817 0%, #092c97 79%);  
}

.app_login-end span {
    /* margin: 5rem auto auto; */
    text-align: center;
    flex-direction: column;
    display: flex;
}

/* FIN DE ESTILOS DE LOGIN */

/* ESTILOS HOME */

.app_jets {
    display: flex;
}

.app_choferes {
    display: flex;
}

.app_admin {
    display: flex;
}

/* FIN DE ESTILOS DE HOME */

/* ESTILOS GLOBALES DE LAS TABLAS */

.app_table {
    margin-left: auto;
    margin-right: auto;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1rem;
    min-width: 400px;
    border-radius: 5px 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
}

.content-table thead tr {
    background-color: #75dec9;
    font-weight: bold;
}

.content-table th, td{
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #ddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:hover {
    color: #089c7e;
}

.btn_delete {
    color: white;
    background-color: red;
    padding: 5px;
    border: none;
    margin: 2px;
}

.btn_delete:hover {
    background-color: rgb(196, 8, 8);
    cursor: pointer;
}

.btn_edit {
    color: white;
    background-color: #089c7e;
    padding: 5px;
    border: none;
    margin: 2px;
}

.btn_edit:hover {
    background-color: #045747;
}



