.app_navbar {
    background-color: black;
    padding: 15px;
    color: white;
}

.app_navbar img {
    width: 160px;
}

/* FIN DE NAVBAR HORIZONTAL */

/* NAVBAR VERTICAL */

.app__navbarV {
    display: grid;
    grid-template-columns: 150px auto;
}

.app__navbarV-container {
    background-color: #aaa;
    height: 100vh;
    padding: 0;
}

.app__navbarV img {
    width: 150px;
}

.app__navbarV-item {
    padding: 9px;
    position: relative;
}

.app__navbarV-item a {
    margin-left: 25%;
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

.app__navbarV-item:hover {
    background-color: gray;
}

.sub-item {
    text-align: center;
}

.app__navbarV-item .sub-item {
    display: none;
    position: absolute;
    background-color: #aaa;
    color: white;
    left: 150px;
    top: 0px;
    /* left: 100px; */
    width: 200px; 
    bottom: auto;
    height: max-content;
    font-size: 18px; 
  }

  .app__navbarV-item .sub-item div {
    margin-bottom: 5px;
    text-align: start;
    padding-left: 10px;
  }

  .app__navbarV-item:hover .sub-item {
    display: block;
  }

  .sub-item div:hover {
    font-weight: bold;
  }

  /* FIN DE NAVBAR VERTICAL */

/* JETS FORM */
.app_jets-container {
    display: flex;
    justify-self: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin-left: 30%;
}

.app_jets-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    width: 30vw;
    color: white;
    background: linear-gradient(to bottom, #aaa 0%, #000 4%);
    box-shadow: 0 8px 32px 0 lightblue;
    border-radius: 15px;
}

.app_jets-box h1 {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
    font-size: 25px;
}

.app_jets-box input {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    border-radius: 5px;
    height: 2rem;
    padding: 0.9rem;
    border: none;
    outline: gray;
    font-size: 1rem;
}

.app_jets-box input:focus {
    box-shadow: 0 0 0 0.1rem gainsboro;
    backdrop-filter: blur(12rem);
    border-radius: 2.1rem;
    padding: 1rem;
}

.app_jets-box input::placeholder {
    color: black;
    font-weight: 100;
}

.app_jets-box button {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    width: 100%;
    padding: 15px;
    margin-top: 2rem;
    cursor: pointer;
    border-radius: 10px;
}

.app_jets-box button:hover {
    padding: 16px;
    background-color: gray;
    border: none;
    transition: all 0.5s ease;
}

/* FIN DE JETS FORM */

/* CHOFERES FORM */
.app_choferes-container {
    display: flex;
    justify-self: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin-left: 30%;
}

.app_choferes-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    width: 30vw;
    color: white;
    background: linear-gradient(to bottom, #aaa 0%, #000 4%);
    box-shadow: 0 8px 32px 0 lightblue;
    border-radius: 15px;
}

.app_choferes-box h1 {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
    font-size: 25px;
}

.app_choferes-box input {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    border-radius: 5px;
    height: 2rem;
    padding: 0.9rem;
    border: none;
    outline: gray;
    font-size: 1rem;
}

.app_choferes-box input:focus {
    box-shadow: 0 0 0 0.1rem gainsboro;
    backdrop-filter: blur(12rem);
    border-radius: 2.1rem;
    padding: 1rem;
}

.app_choferes-box input::placeholder {
    color: black;
    font-weight: 100;
    font-size: 12px;
}

.app_choferes-box button {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    width: 100%;
    padding: 15px;
    margin-top: 2rem;
    cursor: pointer;
    border-radius: 10px;
}

.app_choferes-box button:hover {
    padding: 16px;
    background-color: gray;
    border: none;
    transition: all 0.5s ease;
}

/* FIN DE CHOFERES FORM */

/* ADMIN FORM */

.app_admin-container {
    display: flex;
    justify-self: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin-left: 30%;
}

.app_admin-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    width: 30vw;
    color: white;
    background: linear-gradient(to bottom, #aaa 0%, #000 4%);
    box-shadow: 0 8px 32px 0 lightblue;
    border-radius: 15px;
}

.app_admin-box  h1 {
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
    font-size: 20px;
}

.app_admin-box  input {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    border-radius: 5px;
    height: 2rem;
    padding: 0.9rem;
    border: none;
    outline: gray;
    font-size: 1rem;
}

.app_admin-box  input:focus {
    box-shadow: 0 0 0 0.1rem gainsboro;
    backdrop-filter: blur(12rem);
    border-radius: 2.1rem;
    padding: 1rem;
}

.app_admin-box  input::placeholder {
    color: black;
    font-weight: 100;
}

.app_admin-box  button {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    width: 100%;
    padding: 15px;
    margin-top: 2rem;
    cursor: pointer;
    border-radius: 10px;
}

.app_admin-box  button:hover {
    padding: 16px;
    background-color: gray;
    border: none;
    transition: all 0.5s ease;
}

/* FIN DE ADMIN FORM */
